@model Child
@{
}
<form asp-page="/Add" method="post" id="order-form" enctype="multipart/form-data">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="DisplayName"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="DisplayName">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Price"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="Price">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="BirthDate"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="BirthDate">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Weight"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="Weight">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Nationality"></label>
        <select class="form-control col-sm-10" asp-for="Nationality">
            <option value="Čech">Čech</option>
            <option value="Američan">Američan</option>
            <option value="Afroameričan">Afroameričan</option>
            <option value="Němec">Němec</option>
        </select>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Gender"></label>
        <select class="form-control col-sm-10" asp-for="Gender">
            <option value="@(GenderType.MALE))">@(GenderType.MALE.GetName())</option>
            <option value="@(GenderType.FEMALE)">@(GenderType.FEMALE.GetName())</option>
        </select>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">@Html.DisplayNameFor(m => m.Virginity)</div>
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="Virginity" value="true">
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">@Html.DisplayNameFor(m => m.Race)</div>
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="Race" value="true">
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="SkinTone"></label>
        <div class="col-sm-1">
            <input class="form-control" asp-for="SkinTone" type="color">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="EyeColor"></label>
        <div class="col-sm-1">
            <input class="form-control" asp-for="EyeColor" type="color">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="HairColor"></label>
        <div class="col-sm-1">
            <input class="form-control" asp-for="HairColor" type="color">
        </div>
    </div>
    <div class="form-group row">
        <label>Avatar</label>
        <input type="file" class="form-control-file" name="avatar">
    </div>
    <br />
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Přidat</button>
        </div>
    </div>
</form>